/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem; }

/*
 * Typography
 */
h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee; }

/*
 * a style */
  .nodecor 
        {
            text-decoration: none;
        }

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 0px solid #eee; }

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0; }

.sidebar .nav {
  margin-bottom: 20px; }

.sidebar .nav-item {
  width: 100%; }

.sidebar .nav-item + .nav-item {
  margin-left: 0; }

.sidebar .nav-link {
  border-radius: 0; }

.nav-link {
  padding: 0.30rem 1rem; }

a.nav-link {
  padding-right: 0 !important; }

/*
 * Dashboard
 */
/* Placeholders */
.placeholders {
  padding-bottom: 3rem; }

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

/*
 * Navbar
 */
#logo {
  height: 100%;
  width: 287px; }

/*
 * Background color
 */
.white-bg {
  background: #ffffff !important; }

/*
 * Label
 */
.ac_label {
  color: black;
  border: 1px solid black;
  padding: 3px 5px; }

/*
 * Layout
 */
.mr-left-auto {
  margin-left: auto; }
